<h1> Departments </h1>
<p><%= link_to 'New Department', new_department_path %></p>
<% @departments.each do |department| %>
  <h2><%= department.name %></h2>
  <%= link_to 'Show Department', department_path(department) %>
  <br />
  <br />
  <%= link_to 'Edit Department', edit_department_path(department) %>
  <br />
  <br />
  <%= link_to 'Delete department', department, method: :delete %>
<% end %>
